{{!--<div class="container-fluid navbar-style py-3">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">--}}
            <section class="header">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="index.html" id="logo">
                        Tarun-speaks
                    </a>
                    <div class="nav-links" id="navlinks">
                        <i class="fa fa-times" onclick="HideMenu()"></i>
                        <ul>
                            <li><a href="/">HOME</a></li>
                            <li><a href="#aboutid">ABOUT</a></li>
                            <li><a href="#serviceid">SERVICES</a></li>
                            <li><a href="#contactid">CONTACT</a></li>
                        </ul>
                    </div>
                    <i class="fa fa-bars" onclick="ShowMenu()"></i>
                </nav>
            </section>

            <script>
                var navlinks = document.getElementById("navlinks");

                function ShowMenu() {
                    navlinks.style.right = "0";
                }

                function HideMenu() {
                    navlinks.style.right = "-200px";
                }
            </script>
            {{!--
        </div>
    </div>
</div>--}}
